#main-header{
	background: url('/images/header_bg.gif')repeat-x;
	border-bottom: 1px groove #00519C;
	padding:10px;
}
#main-header span.logo{
	font: 18px Comic Sans MS;
	background: url('/images/logo1.png') no-repeat;
	margin:  10px 0;
	height: 80px;
	display:block;
	color: #00519C;
}
div.form{
	background: #EDEFF4;
	border-bottom: 1px groove #00519C;
	color: #444;
	padding: 10px;
	width: 740px;
	clear:both;
	font: 12px Comic Sans MS;
	
}
div.form #left{
	float:left;
	margin: 0 20px;
}

div.form #right{
	min-height: 250px;
	padding: 10px;
}

div.form label{
	font: 14px Verdana;
	color: #000;
}